body {
    margain: 0px;
    background:#eeee;
    font-family: Arail, Helvetiva, sans-serif;
}

#naviagation {
 postion: fixed;
 z-index: 9;
 top: 0;
 bottom: 0;
 width: 100%;
 background: white;
 padding: 10px 0px;

}
#navigation-inside {
    width:600px;
    margin: 0 auto;
}