head {
    margin:0;
}

body {
    margain: 0px;
    background:#eeee;
    font-family: Arail, Helvetiva, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #eeee;
}
h2 {
    font-family:Helvetiva;
    
}

p {
    color:blue;
text-align:left;

}
article {
text-align:left;
    
}