head {
    margin:0;
     font-family: 'Oswald', sans-serif;
font-family: 'Wix Madefor Display', sans-serif;
}
 body {
         font-size:22px;
         font-family: 'Oswald', sans-serif;
font-family: 'Wix Madefor Display', sans-serif;
    }
#logo {
    float:left;
    font-size:200%;
}


a {
    color: inherit;
    text-decoration: none;
    transition: 0.25s ease;
}
ul {
    display:flex;
    flex-wrap:wrap;
    float:right;

}
ul li {
    margin-left:0.75em;
    margin-right:0.75em;
}
ul:hover a {
    color:#575757;

}
ul:hover a:hover {
    color:#5cdb95
    box-shadow: 0 2px 0 0 currentcolor;
}


#hero-image {
    height:500px;
    width:100%;
    background:url(https://a.cdn-hotels.com/gdcs/production121/d632/1a600407-3573-4f93-9f64-59698fed860d.jpg) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height:600px;
    width:100%;
    overflow:hidden;
    position: relative;

}
@keyframes hero-zoom {
    from{
     transform: scale(1);
    }
    to{
transform: scale(1.1);
    }
}
#cover-text h2 {
color:rgb(255,255,255);;
}
#cover-text {
    font-size:120%;
    font-family:"Oswald";
    text-transform:uppercase;
    letter-spacing:2px;

    width:200px;
    height:300;
    padding-top:40px;
    padding-left:10px;
    bottom:30px;
    right:30px;
    position:absolute;


background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(132,176,228,1) 100%);

}


 .history  {
    vertical-align: top;
     display: inline-block;
    padding-right: 10px;
    vertical-align: top;
    width: 30%;
     border: 4px solid #555555; 
 }
 .work {
    vertical-align: top;
     display: inline-block;
    padding-left: 500px;
    vertical-align: top;
    width: 30%; 
     border: 10px solid #555555;
 }
#footer {
    height:150px;
    width:;
}
#social-media-links {
    text-align:center;

}
#social-media-links ul {
    display:inline;

}
#social-media-links li {
    font-size:160%;
    margin:1%;
    padding:5%;
    color: #777777;
}
.footer {
     font-size:160%;
    margin:1%;
    padding:5%;
    color: #777777;
}
